<%- include('partials/head') %>
    <div class="content">
      <div
        style="padding-top: 50px; text-align: center"
        class="container justify-content-center"
      >
        <h3>Available times on <%= display_date %></h3>
        <div>
          <table class="table styler">
            <thead>
              <th>Time</th>
              <th></th>
            </thead>
            <% availableTimes.forEach(function(time) { %>
              <tr>
                <td><%= (new Date(`${appointmentDate}T${time}`)).toLocaleString('en-US', { hour: 'numeric', hour12: true }) %></td>
                <td class="pick-time-td">
                  <a class="btn btn-primary btn-sm" href="/appointment/<%= doc_id %>/<%= appointmentDate %>/<%= time %>">Pick</a>
                </td>
              </tr>
            <% }); %>
          </table>
        </div>
      </div>
    </div>
  <%- include('partials/footer') %>
</body>
</html>
