<%- include('partials/head') %>

<div class="content">
    <div style="padding-top: 50px;text-align: center;" class="container justify-content-center">
      <h3>Create Appointment</h3>
      <div class="d-flex justify-content-center" style="margin-top: 15px;">
        <div class="card styler create-appointment-card">
          <div class="card-body">
            <form method="POST" action="/appointment/new">
              <div class="row">
                  <p class="col-4"><strong>Doctor ID: </strong></p>
                  <input class="col-6" name="doc_id" id="doc_id" type="text" readonly="readonly" value="<%= doc_id %>">
              </div>
                <div class="row">
                    <p class="col-4"><strong>Doctor: </strong></p>
                    <input class="col-6" name="doc_name" id="doc_name" type="text" readonly="readonly" value="<%= doc_name %>">
                </div>
                <div class="row">
                    <p class="col-4"><strong>Date: </strong></p>
                    <input class="col-6" name="date" id="date" type="text" readonly="readonly" value="<%= date %>">
                </div>
                <div class="row">
                    <p class="col-4"><strong>Time: </strong></p>
                    <input class="col-6" name="time" id="time" type="text" readonly="readonly" value="<%= time %>">
                </div>
                <label for="reason">Reason: </label>
                <input name="reason" id="reason" class="form-control" type="text" maxlength="50" minlength="1"/>
              <input type="submit" value="Create" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
