<%- include('partials/head') %>

<div class="content">
    <div style="padding-top: 50px;text-align: center;" class="container justify-content-center">
      <h3>Search for a Doctor</h3>
      <div class="d-flex justify-content-center" style="margin-top: 15px;">
        <div class="card styler" style="border-radius: 10px; width: 25%;">
          <div class="card-body">
            <form action="/doctors" method="POST">
              <div class="form-input">
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname"><br>
              </div>
              <div class="form-input">
                <label for="lname">Last name:</label>
                <input type="text" id="lname" name="lname"><br>
              </div>
              <button type="submit" id="search_doctors_btn" class="btn btn-primary">Search</button>
            </form>
            <%= error %>
          </div>
        </div>
      </div>
      <br>
      <% if (doctors.length > 0) { %>
      <h3>Matching Doctors</h3>
      <div style="padding: 0 25%;">
          <table class="table styler doc_results">
              <thead>
                  <th>Doctor</th>
              </thead>
              <% doctors.forEach(doc => { %>
                <tr>
                  <td><a class="doctor-profile" href="/profile/doctor/<%= doc.doctor_employee_id %>"><%= doc.first_name %> <%= doc.last_name %></a></td>
                  <td class="create-appointment-td"><a class="btn btn-primary btn-sm" href="/doctors/<%= doc.doctor_employee_id %>/pick_date">Create Appointment</a></td>
                </tr>
              <% }); %>
          </table>
      </div>
      <% } %>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
