

<%- include('partials/head') %>

<div class="content">
    <div style="padding-top: 50px;text-align: center;" class="container">
        <h3>My Appointments</h3>
        <div style="padding: 0 25%;">
            <table class="table styler">
                <thead>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                </thead>
                <% myApt.forEach(function(appointment) { %>
                <tr>
                    <td><%= appointment.first_name %> <%= appointment.last_name %></td>
                    <td><%= appointment.date.toLocaleDateString() %></td>
                    <td><%= appointment.date.toLocaleTimeString() %></td>
                    <td><%= appointment.status %></td>
                </tr>
                <% }); %>
            </table>
        </div>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>

