<%- include('partials/head') %>

<div class="content">
    <div style="padding-top: 50px;text-align: center;" class="container justify-content-center">
      <h3>Search for a Patient</h3>
      <div class="d-flex justify-content-center" style="margin-top: 15px;">
        <div class="card styler patient-search">
          <div class="card-body">
            <form action="/patients" method="POST">
              <label for="fname">First name:</label>
              <input type="text" id="fname" name="fname"><br>
              <label for="lname">Last name:</label>
              <input type="text" id="lname" name="lname"><br>
              <button type="submit" id="search_patients_btn" class="btn btn-primary">Search</button>
            </form>
            <%= error %>
          </div>
        </div>
      </div>
      <br>
      <% if (patients.length > 0) { %>
      <h3>Matching Patients</h3>
      <div style="padding: 0 25%;">
          <table class="table styler patient_results">
              <thead>
                  <th>Patient</th>
              </thead>
              <% patients.forEach(patient => { %>
                <tr>
                  <td><%= patient.first_name %> <%= patient.last_name %></td>
                  <td class="create-appointment-td"><a class="btn btn-primary btn-sm" href="/profile/patient/<%= patient.patient_id %>">View Profile</a></td>
                </tr>
              <% }); %>
          </table>
      </div>
      <% } %>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>

