<%- include('partials/head') %>

      <div class="content">
        <div style="padding-top: 50px;text-align: center;" class="row d-flex justify-content-center">
            <div class="card styler col-3 profile-card">
                <div class="card-body">
                    <i class="bi bi-person-circle" style="font-size: 70px;"></i>
                    <h5 class="card-text"><%= user.user_type.charAt(0).toUpperCase()+user.user_type.slice(1) %></h5>
                    <p class="card styler col">Username: <strong><%= user.username %></strong></p>
                    <p class="card styler col">Name: <strong><%= user.first_name %> <%= user.last_name %></strong></p>
                </div>
            </div>
        </div>
      </div>
      <%- include('partials/footer') %>
    </body>
</html>
